*{
    box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.slider {
    width: 400px;
    border: 1px solid black;
}
.slider_trigger {
    padding: 10px;
    border-bottom: 1px solid black;
    background: linear-gradient(0deg, rgba(63,144,235,1) 51%, rgba(43,204,213,1) 100%);
    font-size: 22px;
    text-shadow: 1px 1px 1px white;
    
}
.sldier_content {
    overflow: hidden;
    transition: 0.3s;
    background: linear-gradient(0deg, rgba(153,221,224,1) 0%, rgba(142,180,222,1) 100%);
    font-size: 18px;
    text-shadow: 1px 1px 1px white;

}