div{
    border: 2px solid black;
}

.container {
    width: 500px;
    height: 200px;
    display: flex;
    flex-wrap: wrap-reverse;
   
}
.flex-item {
    margin: 10px;
    width: 45%;
}


.order1 {
    order: 1;
}
.order2 {
    order: 2;
}
.order3 {
    order: 3;
}
.order4 {
    order: 4;
}
.order5 {
    order: 5;
}
