@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{  
    box-sizing: border-box;
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;

}
body{
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
    height: 100px;
    background:rgb(39, 39, 255) ;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .header__logo{
        height: 90%;
    }

    .header__headline{
        font-size: 2em;
        color: gold;
        text-shadow: 2px 2px 2px grey;
    }

.navbar{
    height: 60px;
    background-color: wheat;
}

.tabs{
     height: 500px;
     justify-content: center;
     display: flex;
     flex-wrap: wrap;

}

.content_deparmnet{
    width: 100%;
}

.tabs>label {
   height: 60px;
    width: 20%;
    display: inline-block;
    text-align: center;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    font-weight: bold;
    padding: 16px 8px;
    font-size: 14px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
    text-shadow: 1px 1px 2px gray;
  }


.tabs>input[type="radio"] {
    width: 0;
    display: none;
  }

  
  .tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }

  .tabs>div {
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
  }

    #tab-btn-1:checked~.content-1,
    #tab-btn-2:checked~.content-2,
    #tab-btn-3:checked~.content-3,
    #tab-btn-4:checked~.content-4,
    #tab-btn-5:checked~.content-5 {
      display: block;
    }

    .content_deparmnet div{
      width: 80%;
      padding: 20px;
      margin: 0 auto;
      border: 2px solid lightgrey;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .content_deparmnet div:hover{
      transition: 0.5s;
      width: 100%;
    }

    div>img{
      width: 100%;
    }


