div{
    border: 2px solid black;
    

}
.container {
    height: 120px;
    width: 500px;
    display: flex;
    align-items: flex-end;
}

.center{
    align-self: center;
}
.top{
    align-self: flex-start;
}