.text_color_name{
    color: blue;
}

.text_color_hex{
    color: #0000ff;
}

.text_color_rgb {
    color: rgb(0,0,255);
}
.text_color_hsl {
    color: hsl(240, 100%, 50%);
}



.opacity{
    opacity: 0.3;
}

.rgba_opacity{
    color: rgba(0,0,255, 0.3);
}
